<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="Test">
    <classes>
      
      <class name="com.cslsoft.TestMobileAutomation.ProfileManagement"/>
    
      <class name="com.cslsoft.TestMobileAutomation.LibraryManagement"/> 
      
      <class name="com.cslsoft.TestMobileAutomation.Customer"/>
      
     <class name="com.cslsoft.TestMobileAutomation.MyTasks"/>
     
      
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->